# Mobile app
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8000/api
EXPO_PUBLIC_APP_VERSION=0.0.0-dev

# Auth toggles
EXPO_PUBLIC_AUTH_GOOGLE_ENABLED=true

# Google OAuth client IDs (replace with real values from Google Cloud)
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=dummy-expo-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=dummy-android-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=dummy-ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=dummy-web-client-id.apps.googleusercontent.com
